@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

h1 {
  font-family: 'Anton';
  font-size: 40px; 
}

h2 {
  font-family: 'Anton';
  font-size: 25px; 
}

.App {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  background: url('veggies.jpeg') no-repeat center center/cover;
  justify-content: center; 
  align-items: center;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); 
}

.content-box {
  background-color: #08AD5E; 
  padding: 30px;
  border-radius: 10px;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.App-header {
  position: relative;
  color: white;
  z-index: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-container {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.auth-button {
  background-color: white;
  color: green;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Anton'; 
}

.auth-button:hover {
  background-color: lightgray;
}


.navbar {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: transparent; 
  padding: 10px;
  z-index: 1000; 
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px; 
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  background-color:  #08AD5E;
  transition: background 0.3s ease-in-out;
}

.navbar a:hover {
  background-color: #068E4D;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Anton', sans-serif;
  background-color: #282c34;
  color: white;
}

.home-banner {
  background-color: #08AD5E; 
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.1rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.home-banner p {
  margin: 0;
  font-weight: bold;
  color: white;
}
